{% extends "base.html" %}

{% block main %}
    <div class="mb-3 text-center">
        <h1>{% block title %}Register{% endblock %}</h1>
    </div>
    <div class="container bg-secondary bg-gradient text-center p-5">
        <form action="{{ url_for('auth.register') }}" method="post">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                <input class="form-control mx-auto w-50" autocomplete="off" autofocus name="username" placeholder="Username" type="text" required>
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-50" autocomplete="off" autofocus name="email" placeholder="Email" type="email" required>
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-50" name="password" placeholder="Password" type="password" required>
            </div>
            <div class="mb-4">
                <input class="form-control mx-auto w-50" name="confirmation" placeholder="Repeat your password" type="password" required>
            </div>
            <button class="btn btn-success" type="submit">Register</button>
        </form>
    </div>
{% endblock %}