{% extends "base.html" %}

{% block main %}
    <div class="mb-3 text-center">
        <h1>{% block title %}Add Job{% endblock %}</h1>
    </div>
    <div class="container bg-secondary bg-gradient text-center py-4 px-5 shadow-lg rounded-3">
        <form id="add-job-form" action="{{ url_for('jobhuntr.add') }}" method="post">
            {{ form.hidden_tag() }}
            <h3 class="mb-3">Job Information</h3>
            {{ form.company.label() }}
            {{ form.company(class="form-control my-3", placeholder="Enter Company Name") }}
            {{ form.position.label() }}
            {{ form.position(class="form-control my-3", placeholder="Job Position")}}
            {{ form.contract_type.label() }}
            {{ form.contract_type(class="form-select my-3") }}
            {{ form.location.label() }}
            {{ form.location(class="form-control my-3", placeholder="Enter Location") }}
            {{ form.url.label() }}
            {{ form.url(class="form-control my-3", placeholder="Enter Application URL")}}
            
            <div class="mb-3">
                <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#contact-section" 
                aria-expanded="false" aria-controls="contact-section">
                Add Contact Information
                </button>
                <div class="collapse" id="contact-section">
                    <div class="card card-body">
                        <h4>Contact Information</h4>
                        {{ form.contact.hidden_tag() }}
                        {{ form.contact.form.name.label() }}
                        {{ form.contact.form.name(class="form-control my-2", placeholder="Enter Contact Name") }}
                        {{ form.contact.form.email.label() }}
                        {{ form.contact.form.email(class="form-control my-2", placeholder="Enter Email") }}
                        {{ form.contact.form.phone.label() }}
                        {{ form.contact.form.phone(class="form-control my-2", placeholder="Enter Phone Number") }}
                    </div>
                </div>
            </div>
        
        {{ form.add_button(class="btn btn-lg btn-success mt-3")}}
    </form>
    </div>
{% endblock %}