{% extends "base.html" %}

{% block main %}
    <div class="mb-3 text-center">
        <h1>{% block title %}Edit Job{% endblock %}</h1>
    </div>
    <div class="container bg-secondary bg-gradient text-center py-4 px-5 shadow-lg rounded-3">
        <form action="{{ url_for('jobhuntr.edit', job_id=job['id']) }}">
            {{ form.hidden_tag() }}
            {{ form.company.label() }}
            {{ form.company(class="form-control my-3", placeholder="Enter Company Name") }}
            {{ form.position.label() }}
            {{ form.position(class="form-control my-3", placeholder="Enter Job Position") }}
        </form>
    </div>

{% endblock %}