{% extends "base.html" %}

{% block main %}
    <div class="mb-3 text-center">
        <h1>{% block title %}Edit Job{% endblock %}</h1>
    </div>
    <div class="container bg-secondary bg-gradient text-center py-4 px-5 shadow-lg rounded-3">
        <form action="{{ url_for('jobhuntr.edit', job_id=job['id']) }}", method="post">
            {{ form.hidden_tag() }}
            {{ form.company.label() }}
            {{ form.company(class="form-control my-3", placeholder="Enter Company Name") }}
            {{ form.position.label() }}
            {{ form.position(class="form-control my-3", placeholder="Enter Job Position") }}
            {{ form.contract_type.label() }}
            {{ form.contract_type(class="form-select my-3") }}
            {{ form.location.label() }}
            {{ form.location(class="form-control my-3", placeholder="Enter Location")}}
            {{ form.status.label() }}
            {{ form.status(class="form-select my-3") }}
            {{ form.url.label() }}
            {{ form.url(class="form-control my-3", placeholder="Enter Application URL") }}

            <div class="mb-3">
                <button type="button" class="btn btn-sm" data-bs-toggle="collapse" data-bs-target="#contact-section"
                aria-expanded="false" aria-controls="contact-section">
                    Contact Info
                </button>
                <div class="collapse" id="contact-section">
                    <div class="card card-body">
                        {{ form.hidden_tag() }}
                        {{ form.contact.form.name.label() }}
                        {{ form.contact.form.name(class="form-control my-2", placeholder="Enter Contact Name")}}
                        {{ form.contact.form.email.label() }}
                    </div>
                </div>
            </div>

            <div class="mt-4">
                <a href="{{ url_for('index') }}" class="btn btn-lg btn-danger me-2">Cancel</a>
                {{ form.save_button(class="btn btn-lg btn-success ms-2") }}
            </div>
            
        </form>
    </div>

{% endblock %}