{% extends "base.html" %}


{% block main %}
    <div class="mb-3 text-center">
        <h1>{% block title %}Overview{% endblock %}</h1>
    </div>
    <table class="table table-striped table-hover align-items-center">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Company</th>
                <th>Position</th>
                <th>Location</th>
                <th>Contract</th>
                <th>Status</th>
                <th>Date Added</th>
                <th></th>
            </tr>
        </thead>
        {% if applications %}
            {% for application in applications %}
            {% include "modals/delete_job_modal.html" %}
            {% include "modals/more_info_modal.html" %}
                <tbody>
                    <tr class="align-middle">
                        <td>{{ application["id"] }}</td>
                        <td>{{ application["company_name"] }}</td>
                        <td>{{ application["job_position"] }}</td>
                        <td>{{ application["job_location"] }}</td>
                        <td>{{ contract_types[application['contract_type_id']] }}</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-outline-dark">
                                   {{ statuses[application['status_id']] }}
                                </button>
                            </div>
                        </td>
                        <td>{{ application["date_added"] }}</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#info-modal-{{ application['id'] }}">More Info</button>
                            <a class="btn btn-sm btn-info" href="{{ url_for('jobhuntr.edit', job_id=application['id']) }}">Edit</a>
                            <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#delete-job-modal-{{ application['id']}}">Delete</button>
                        </td>
                    </tr>
                </tbody>
            {% endfor %}
        {% else %}
                <div class="alert alert-info text-center" role="alert">
                    No jobs added yet.
                </div>               
        {% endif %}
    </table>
{% endblock %}