{% extends "base.html" %}

{% block main %}
    <div class="mb-3 text-center">
        <h1>{% block title %}Not Started{% endblock %}</h1>
    </div>
    <table class="table table-striped table-hover align-items-center">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Company</th>
                <th>Position</th>
                <th>Location</th>
                <th>Contract</th>
                <th>Status</th>
                <th>Date Added</th>
                <th></th>
            </tr>
        </thead>
        {% if applications %}
            {% for application in applications %}

            {% endfor %}

        {% else %}
            <div class="alert alert-info text-center" role="alert">
                No jobs to apply for.
            </div>

        {% endif %}

    </table>

{% endblock %}